extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote LoreLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisl leo. Duis scelerisque efficitur malesuada. Nulla quis dolor tincidunt, convallis mauris vel, egestas massa. Vestibulum ut pharetra odio, ut eleifend sapien. Integer velit est, suscipit tincidunt pulvinar sed, pretium ac magna.  
                P Nullam metus lectus, finibus a iaculis id, fringilla vel est. Curabitur mauris nunc, vulputate quis eros sed, varius condimentum justo. Suspendisse orci dui, tristique a cursus sit amet, consectetur a libero. Suspendisse laoreet in enim eu venenatis.
                p Phasellus tellus metus, vehicula eu facilisis eu, placerat sed odio. Nunc fringilla lectus in sapien rutrum auctor. Donec luctus justo a felis malesuada, et efficitur ipsum hendrerit. Vivamus sit amet placerat ex. Maecenas ut dapibus elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    .listado-iconos
        .container.mt-5-py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Interdum et malesuada fames ac ante ipsum primis in faucibus.

    