extends ../layout/index
block  slider
    .slider
        h1 Rio de Janeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", 
                class="img-fluid")
        h2.text-center-mb-5 Proximos Viajes
        include ../layout/partials/viajes
    .descuento
        .conteiner
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de mayo del 2020 - 25 de mayo del 2020
                        p.precio $2.500 USD





